<html>
<head>
    <title>Upadte page</title>
    {% load static %}
    {% include 'bootstrapline.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/createpage.css' %}">
<style>
    body{
            background-color: #e2bcd0;
        }
</style>

</head>
<body>
<br>
<div class="container" style="border: 1px solid cornflowerblue;background-color: #e2bcd0">

    <h2 class="Text-center">Update Event</h2>
    <a href="/diary/" class="btn btn-outline-info text-white" style="margin-left: 1000px" >Back</a>
    <div class="row">
        <div class="offset-md-2 col-md-8 ">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                {{ uform  }}
                    </div>
                <center>
                    <input type="submit" value="Submit" class="btn btn-success">
                    <input type="reset" value="clear" class="btn btn-danger">
                </center>
            </form>
        </div>
    </div>
</div>
</body>
</html>