<html>
<head>
    <title>Student Update</title>
    {% include 'bootstrapline.html' %}
</head>
<body>
<div class="container"style="background-color: gainsboro">
    <form action="/replace/{{ student.id }}" method="POST">
        {% csrf_token %}
    <div class="row">
        <div class="offset-md-2 col-md-8">
            <h1 class="text-center text-white">Enter the Student Details..</h1>
            <label>Enter the Student Roll number</label>
            <input type="number" name="Roll_number"  value="{{ student.Roll_number }}" placeholder="Roll Number" class="form-control">
            <div class="row">
                <div class="col-md-6">
                 <label>Enter the Student First Name</label>
                 <input type="text" name="First_name" value="{{ student.First_name }}" placeholder="First Name" class="form-control">
                </div>
                <div class="col-md-6">
                 <label>Enter the Student Last Name</label>
                 <input type="text" name="Last_name"  value="{{ student.Last_name }}" placeholder="Last Name" class="form-control">
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                 <label>Enter the Student Email ID</label>
                 <input type="text" name="Email"  value="{{ student.Email }}" placeholder="Email Id" class="form-control">
                </div>
                <div class="col-md-6">
                 <label>Enter the School Name</label>
                 <input type="text" name="School_name" value="{{ student.School_name }}" placeholder="School Name" class="form-control">
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                 <label>Enter the Class name</label>
                 <input type="text" name="Class_name" value="{{ student.Class_name }}" placeholder="class Name" class="form-control">
                </div>
                <div class="col-md-6">
                 <label>Enter the Section Name</label>
                 <input type="text" name="Section_name" value="{{ student.Section_name }}" placeholder="Section Name" class="form-control">
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                 <label>Enter the Telugu Marks</label>
                 <input type="text" name="Telugu_marks" value="{{ student.Telugu_marks }}" placeholder="telugu marks" class="form-control">
                </div>
                <div class="col-md-6">
                 <label>Enter the hindi marks</label>
                 <input type="text" name="Hindi_marks" value="{{ student.Hindi_marks }}" placeholder="Hindi Marks" class="form-control">
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                 <label>Enter the English Marks</label>
                 <input type="text" name="English_marks" value="{{ student.English_marks }}" placeholder="English marks" class="form-control">
                </div>
                <div class="col-md-6">
                 <label>Enter the Maths marks</label>
                 <input type="text" name="Maths_marks" value="{{ student.Maths_marks }}" placeholder="Maths Marks" class="form-control">
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                 <label>Enter the Science Marks</label>
                 <input type="text" name="Science_marks" value="{{ student.Science_marks }}" placeholder="science marks" class="form-control">
                </div>
                <div class="col-md-6">
                 <label>Enter the Social marks</label>
                 <input type="text" name="Social_marks" value="{{ student.Social_marks }}" placeholder="Social Marks" class="form-control">
                </div>
            </div>
            <center>
            <input type="submit" value="Update" class="btn btn-success text-center">
            <input type="reset" value="Clear" class="btn btn-danger text-center">
            </center>

        </div>
    </div>
    </form>
</div>
</body>
</html>