body{
    background-color: honeydew;
}
.jumbotron{
    margin: 20px 98px 10px 150px;
    height: 120px;
    background-color:darkblue ;
}
h1{
    text-align: center;
    margin-top: -4px;
    color: white;
    font-size: 50px;
}
img{



    width: 1200px;
}
